html {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    text-align: center;
    margin-top: 13%;
    font-size: 1.2em;
}

main {
    background-color: rgb(137, 205, 185);
    padding: 3.5em;
    margin-left: 25%;
    margin-right: 25%;
}

footer {
    background-color: black;
    padding: .3em;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1em;
    color: white;
}

.content {
    font-size: 2em;
}

.txt {
    font-size: .4em;
}

#resultado {
    font-size: .8em;
    padding: 1em;
    margin-bottom: .2em;
}